site_name: Python Diameter Stack
repo_url: https://github.com/mensonen/diameter
theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.indexes
    - toc.integrate
  custom_dir: overrides
nav:
  - Home: index.md
  - Installation: setup.md
  - User Guide:
    - guide/index.md
    - Working with AVPs: guide/avp.md
    - Working with messages: guide/message.md
    - Connecting to peers: guide/node.md
    - Application basics: guide/application.md
    - Sample application: guide/sample_application.md
    - Statistics: guide/node_statistics.md
  - Examples:
    - Credit Control SMS client: examples/credit_control_sms_client.md
    - Idling server and client: examples/idle_server_client.md
  - API Refrence:
    - AVP:
      - api/avp/index.md
      - Grouped AVPs: api/avp/grouped.md
    - Message: api/message.md
    - Commands:
      - AA: api/commands/aa.md
      - AA Mobile Node: api/commands/aa_mobile_node.md
      - Abort Session: api/commands/abort_session.md
      - Accounting: api/commands/accounting.md
      - Capabilities Exchange: api/commands/capabilities_exchange.md
      - Credit Control: api/commands/credit_control.md
      - Device Watchdog: api/commands/device_watchdog.md
      - Diameter EAP: api/commands/diameter_eap.md
      - Disconnect Peer: api/commands/disconnect_peer.md
      - Re Auth: api/commands/re_auth.md
      - Session Termination: api/commands/session_termination.md
      - Other: api/commands/other_commands.md
    - Node: api/node.md
    - Peer: api/peer.md
    - Application: api/application.md
    - Node utilities: api/utilities.md
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            docstring_style: google
            show_source: false
            separate_signature: true
            show_signature_annotations: true
            line_length: 70
            signature_crossrefs: true
watch:
  - src
markdown_extensions:
  - def_list
  - pymdownx.highlight:
      guess_lang: true
      stripnl: false
      line_spans: __span
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - toc:
      permalink: true