site_name: Python Diameter
site_url: "https://python-diameter.org/docs/"
theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
  custom_dir: overrides
  font:
    text: "Open Sans"
    code: "Source Code Pro"
  logo: logo.png
  favicon: favicon-64x64.png
nav:
  - Home: "/"
  - About:
    - About: index.md
    - What's new:
      - Changes in 0.9: changelogs/changes_in_0.9.md
  - Installation: setup.md
  - User Guide:
    - guide/index.md
    - Working with AVPs: guide/avp.md
    - Working with messages: guide/message.md
    - Connecting to peers: guide/node.md
    - Application basics: guide/application.md
    - Sample application: guide/sample_application.md
    - Statistics: guide/node_statistics.md
    - Extending and customising: guide/extending_the_stack.md
  - Examples:
    - Credit Control SMS client: examples/credit_control_sms_client.md
    - Idling server and client: examples/idle_server_client.md
  - API Reference:
    - AVP:
      - api/avp/index.md
      - Grouped AVPs: api/avp/grouped.md
    - Message: api/message.md
    - Commands:
      - AA: api/commands/aa.md
      - AA Mobile Node: api/commands/aa_mobile_node.md
      - Abort Session: api/commands/abort_session.md
      - Accounting: api/commands/accounting.md
      - Authentication Information: api/commands/authentication_information.md
      - Cancel Location: api/commands/cancel_location.md
      - Cancel VCSG Location: api/commands/cancel_vcsg_location.md
      - Capabilities Exchange: api/commands/capabilities_exchange.md
      - Credit Control: api/commands/credit_control.md
      - Delete Subscriber Data: api/commands/delete_subscriber_data.md
      - Device Watchdog: api/commands/device_watchdog.md
      - Diameter EAP: api/commands/diameter_eap.md
      - Disconnect Peer: api/commands/disconnect_peer.md
      - Home Agent MIP: api/commands/home_agent_mip.md
      - Insert Subscriber Data: api/commands/insert_subscriber_data.md
      - Location Info: api/commands/location_info.md
      - ME Identity Check: api/commands/me_identity_check.md
      - Multimedia Auth: api/commands/multimedia_auth.md
      - Notify: api/commands/notify.md
      - Push Profile: api/commands/push_profile.md
      - Profile Update: api/commands/profile_update.md
      - Purge UE: api/commands/purge_ue.md
      - Push Notification: api/commands/push_notification.md
      - Re Auth: api/commands/re_auth.md
      - Registration Termination: api/commands/registration_termination.md
      - Reset: api/commands/reset.md
      - Server Assignment: api/commands/server_assignment.md
      - Session Termination: api/commands/session_termination.md
      - Spending Limit: api/commands/spending_limit.md
      - Spending Status Notification: api/commands/spending_status_notification.md
      - Subscribe Notifications: api/commands/subscribe_notifications.md
      - Update Location: api/commands/update_location.md
      - Update VCSG Location: api/commands/update_vcsg_location.md
      - User Authorization: api/commands/user_authorization.md
      - User Data: api/commands/user_data.md
      - Other: api/commands/other_commands.md
    - Node: api/node.md
    - Peer: api/peer.md
    - Application: api/application.md
    - Node utilities: api/utilities.md
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            docstring_style: google
            show_source: false
            separate_signature: true
            show_signature_annotations: true
            line_length: 70
            signature_crossrefs: true
watch:
  - src
markdown_extensions:
  - def_list
  - pymdownx.highlight:
      guess_lang: true
      stripnl: false
      line_spans: __span
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - toc:
      permalink: true
extra:
  version:
    # not actually using mike, the versions.json is static, but this turns on
    # the version selector dropdown
    provider: "mike"